.jobstageform {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

button {
  position: absolute;
  right: 10px;
}

mat-card-content {
  margin-top: 50px;
}

.column {
  display: flex;
  flex-direction: column;
}