<div *ngIf="dataloaded" class="jobstageform"> 

  <mat-card>
    <mat-card-header>
      <button mat-raised-button color="primary">Save Changes</button>
    </mat-card-header>

    <mat-card-content class="jobstageinfo">
      <form [formGroup]="jobStageForm">
        <div class="column">
        <mat-form-field class="form-field">
          <mat-label>Stage</mat-label>
          <input matInput placeholder="Company" formControlName="stage" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Stage Added Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Stage Added" formControlName="createdat" name="createdat" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" name="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Additional Information</mat-label>
          <textarea matInput cdkTextareaAutosize placeholder="Additional Info" formControlName="addinfo"></textarea>
        </mat-form-field>
      </div>
      </form>
    </mat-card-content>
  </mat-card>


</div>
