.jobappform {
  width: 68%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

mat-card { 
  margin-bottom: 20px;
}

.top {
  margin-bottom: 10px;
}

.mat-card-header .mat-card-title {
  font-size: 26px;
}

mat-card-subtitle {
  font-size: 18px;
}

.buttons {
  position: absolute;
  right: 10px;
}

button {
  margin: 5px;
}

.jobappinfo {
  margin-top: 25px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-right: 10px;
}
