<div class="form">
  <form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="column">
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Email"
            required
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="password"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" routerLink="jobapp">
          Log In
        </button>
        </div>

      </mat-card-content>
    </mat-card>
  </form>
</div>